.d{
    background-image: url(../../assets/photo5.webp);
    width: 350px;
    background-repeat: no-repeat;
    height: 270px;
}

.m{
    background-image: url(../../assets/photo6.webp);
    width: 350px;
    background-repeat: no-repeat;
    height: 270px;
}

.n{
    background-image: url(../../assets/photo7.webp);
    width: 350px;
    background-repeat: no-repeat;
    height: 270px;
}